#inner-div{
    width: inherit;
    height: 480px;
    border-radius: 15px;
}
#carouselVideoExample{
    width: 500px;
    margin-top: 15px;
    height: 450px;
}
.carousel-inner{
    border-radius: 15px;
     height: inherit;
}