.react-multi-carousel-item, .react-multi-carousel-item--active {
    width: 100% !important;
}
.react-multi-carousel-dot-list{
    display:none;
}
#car{
    display: flex;
    /* border: solid; */
}

