.react-multi-carousel-item, .react-multi-carousel-item--active {
    width: 100% !important;
}
.react-multi-carousel-dot-list{
    display:none;
}
#car{
    display: flex;
    width: 100%;
    overflow: scroll;
    /* overflow-x: auto; */
    /* border: solid; */
}
#car::-webkit-scrollbar{
    display: none;
}
#yes{
    /* overflow: scroll; */
}

