#IP{
    border-radius: 25px;
    /* width: 300px; */
    font-weight: bold;
    background-color: #EDEDED;
    color: grey;
    border: none;
    height: 40px;
}
#ul-li{
    padding-left: 0px !important;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#navbar-wrapper{
    /* border: solid; */
}
.active{
    color:black;
}
.active:hover{
    color: black;
}
.inactive{
    color:#808080;
}
.inactive:hover{
    color: black;
}
#link-col{
    height: 30px;
    border-right: 1px solid grey;
    padding-top: 2px;
    align-items: center;
    padding-right: 10px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 14px;
    
}
#a{
    width: inherit !important;
}

#a-ul{
    display: none;
    list-style-type: none;
    /* border: solid; */
    margin-top: 15px;
    position: absolute;
    z-index: 1;
    text-align: start;
    padding-left: 0px !important;
    width: 230px;
    margin-left: -50px;
    border-radius: 5px;
}
#a-ul a{
    margin-left: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
#a-ul li{
    width: 90% !important;
    margin: 5px auto;
    padding: 5px 0px;
}
#a-ul li:hover{
    background-color: #F2F2F2;
    border-radius: 5px;
    padding:5px 0px;
}
#fafa{
    font-size: 20px;
}
.fa{
    color: #808080;
}
#btn-pro{
    background-image: linear-gradient(to right, rgb(255, 0, 184) 0%, rgb(100, 161, 255) 50%, rgb(0, 102, 255) 100%);
    color: white;
    border: none;
    border-radius:20px;
    font-size:15px;
    font-weight:bold;
    padding:5px 20px;
    margin: 5px;
}
#moon{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #808080;
    padding: 4px 10px;
    margin: 5px;

}
#logo-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media(min-width:320px) and (max-width:375px){
    #navbar-wrapper{
        /* border: solid yellow; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ant-row-middle{
        align-items: flex-start;
    }
    #img-div{
        margin:0px;
    }
#logo-div{
    flex-direction: column !important;
    /* border: solid red; */
    width:98vw !important;
    padding-bottom: 10px;
    text-align: center;
}
#nav-link-wrapper{
    /* border: solid ; */
    display: flex;
    width:100vw !important;
    flex-direction: column;
    flex-wrap: wrap;
}
#navbar-btn{
    /* border: solid green; */
    max-width: 100vw !important;
      /* flex-direction: column; */
      justify-content: space-evenly;
      margin: 0px auto;
}
#link-col{
    /* border: solid; */
    max-width: 100%;
    margin: 10px 0px;
    justify-content: center;
}
.ul-li1{
  justify-content: space-around !important;
    /* border: solid; */
}
#btn-pro{
    margin: 5px 20px;
}
#moon{
    margin: 5px 20px;
    
}

#a-ul{
    position: relative;
    width: 150px;
    text-align: center;  
}

#a{
    width: 100px !important;
}
}
@media(min-width:376px) and (max-width:770px){
    #navbar-wrapper{
        /* border: solid yellow; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .ant-row-middle{
        align-items: flex-start;
    }
    #img-div{
        margin:0px;
    }
#logo-div{
    flex-direction: column !important;
    /* border: solid red; */
    width:98vw !important;
    padding-bottom: 10px;
    text-align: center;
}
#nav-link-wrapper{
    /* border: solid ; */
    display: flex;
    width:100vw !important;
    flex-direction: column;
    flex-wrap: wrap;
}
#navbar-btn{
    /* border: solid green; */
    max-width: 100vw !important;
      /* flex-direction: column; */
      justify-content: space-evenly;
      margin: 0px auto;
}
#link-col{
    /* border: solid; */
    max-width: 100%;
    margin: 10px 0px;
    justify-content: center;
}
.ul-li1{
  justify-content: space-around !important;
    /* border: solid; */
}
#btn-pro{
    margin: 5px 20px;
}
#moon{
    margin: 5px 20px;
    
}

#a-ul{
    position: relative;
    width: 150px;
    text-align: center;  
}

#a{
    width: 100px !important;
}
}